on init
    write /proc/sys/kernel/hung_task_timeout_secs 0
    start watchdogd

    # unlink /efs > /mnt/vendor/efs
    rm /efs
    mkdir /efs
    mkdir /sec_efs

    # to cut charging battery path
    write /sys/class/power_supply/battery/siop_level 0

on boot
    setprop ro.boot.vbmeta.avb_version 1.2
    setprop ro.boot.avb_version 1.2

on fs
    wait /dev/block/platform/13500000.ufs
    symlink /dev/block/platform/13500000.ufs /dev/block/bootdevice
    symlink /dev/block/platform/13500000.ufs/by-name /dev/block/by-name

#@RECOVERY [For reboot reason.
    symlink /dev/block/platform/13500000.ufs/by-name/param /dev/block/param
    chown root system /dev/block/param
    chmod 0666 /dev/block/param
#]

export ANDROID_ROOT /system

# Set watchdog timer to 30 seconds and fed it every 10 seconds to get a 20 second margin
service watchdogd /system/bin/watchdogd 10 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0
